*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
}



body{
    @media (min-width: 800px){
        background-color: blue;
    }
}

//Se for somente utilizar css¬
@media (max-width:900px){
    body{
        background-color: red;
    }
}

//AND na media query¬
li{
    @media (min-width: 300px) and (max-width: 400px){
        font-size: 4rem;
    }
}

header{
    @media (max-width: 800px){
        display: flex;
        height: 20vh;
        align-items: center;
        justify-content: center;
    }
    nav{
        @media (max-width: 800px){
            width: 30vw;
            border: solid 2px gray;
        }
        ul{
            @media (max-width: 800px){
                width: 30vw;
                display: flex;
                justify-content: space-between;
                list-style: nome;
            }
        }
    }
}